<div class="bg-content">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card-1 p-4">
                <h5 class="card-headings">Body Temprature</h5>
                <div class="horizontal-line small-card"></div>
                <div class="d-flex justify-content-between">
                    <p class="hint-text">Temprature Change</p>
                    <p class="success-text">36%</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card-1 p-4">
                <h5 class="card-headings">Body Movement</h5>
                <div class="horizontal-line small-card"></div>
                <div class="d-flex justify-content-between">
                    <p class="hint-text">Not on the bed</p>
                    <p class="danger-text">30 times</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card-1 p-4">
                <h5 class="card-headings">Humidity</h5>
                <div class="horizontal-line small-card"></div>
                <div class="d-flex justify-content-between">
                    <p class="hint-text">Humidity Change</p>
                    <p class="success-text">26%</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card-1 p-4">
                <h5 class="card-headings">Body Pulse</h5>
                <div class="horizontal-line small-card"></div>
                <div class="d-flex justify-content-between">
                    <p class="hint-text">Pulse Change</p>
                    <p class="success-text">15%</p>
                </div>
            </div>
        </div>
    </div>
</div>